
ggventures/spiders/__pycache__/usa_0140.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0139.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0138.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0137.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0136.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0135.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0134.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0133.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0132.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0131.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0130.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0129.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0128.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0127.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0126.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0125.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0124.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0123.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0122.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0121.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0120.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0119.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0118.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0117.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0116.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0115.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0114.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0113.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0112.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0111.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0110.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0109.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0108.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0107.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0106.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0105.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0104.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0103.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0102.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0101.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0100.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0099.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0098.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0097.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0096.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0095.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0094.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0093.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0092.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0091.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0090.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0089.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0088.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0087.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0086.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0085.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0084.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0083.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0082.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0081.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0080.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0079.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0078.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0077.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0076.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0075.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0074.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0073.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0072.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0071.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0070.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0069.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0068.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0067.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0066.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0065.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0064.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0063.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0062.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0061.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0060.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0059.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0058.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0057.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0056.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0055.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0054.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0053.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0052.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0051.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0050.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0049.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0048.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0047.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0046.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0045.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0044.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0043.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0042.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0041.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0040.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0039.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0038.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0037.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0036.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0035.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0034.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0033.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0032.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0031.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0030.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0029.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0028.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0027.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0026.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0025.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0024.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0023.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0022.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0021.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0020.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0019.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0018.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0017.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0016.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0015.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0014.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0013.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0012.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0011.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0010.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0009.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0008.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0007.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0006.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0005.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0004.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0003.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0002.cpython-310.pyc
ggventures/spiders/__pycache__/usa_0001.cpython-310.pyc
ggventures/spiders/__pycache__/TempCode3.cpython-310.pyc
ggventures/spiders/__pycache__/TempCode2.cpython-310.pyc
ggventures/spiders/__pycache__/TempCode.cpython-310.pyc
ggventures/spiders/__pycache__/gbr_0010.cpython-310.pyc
ggventures/spiders/__pycache__/gbr_0009.cpython-310.pyc
ggventures/spiders/__pycache__/gbr_0008.cpython-310.pyc
ggventures/spiders/__pycache__/gbr_0007.cpython-310.pyc
ggventures/spiders/__pycache__/gbr_0006.cpython-310.pyc
ggventures/spiders/__pycache__/gbr_0005.cpython-310.pyc
ggventures/spiders/__pycache__/gbr_0004.cpython-310.pyc
ggventures/spiders/__pycache__/gbr_0003.cpython-310.pyc
ggventures/spiders/__pycache__/gbr_0002.cpython-310.pyc
ggventures/spiders/__pycache__/gbr_0001.cpython-310.pyc
.env
spider_list_test.py
spider_list_test.py
spider_list_test.py
ggventures/spiders/__pycache__/bgd_0003.cpython-310.pyc
ggventures/spiders/__pycache__/can_0003.cpython-310.pyc
ggventures/spiders/__pycache__/can_0007.cpython-310.pyc
ggventures/spiders/__pycache__/can_0024.cpython-310.pyc
ggventures/spiders/__pycache__/chn_0004.cpython-310.pyc
ggventures/spiders/__pycache__/chn_0007.cpython-310.pyc
ggventures/spiders/__pycache__/chn_0011.cpython-310.pyc
__pycache__/spider_list_test.cpython-310.pyc
GGVENTURES_BOT_LOG.log
__pycache__
ggventures\__pycache__
ggventures\spiders\__pycache__
lib\__pycache__
GGVentures_LOG.log
ggventures\GGVENTURES_BOT_LOG.log
test.py
requirements_old copy.txt